<div class="flex flex-col justify-center items-center mt-32">
  <div class="max-w-[1000px] m-4 text-center">
    <div>We're here to help you take your business to the next level.</div>
    <div>
      Whether you have questions, need support, or want to discuss your project,
      our team at Coderise is ready to assist you.
    </div>
    <div class="mb-4">
      Reach out to us through the form below, and we’ll get back to you as soon
      as possible.
    </div>
    <div>For immediate assistance, feel free to call us or send an email.</div>
    <div>
      We look forward to hearing from you and exploring how we can collaborate
      to achieve your digital goals.
    </div>
  </div>

  <form (ngSubmit)="onSend()" [formGroup]="form">
    <div class="flex flex-col items-center gap-3 mt-10 mb-10 text-black">
      <input type="email" placeholder="yourEmail@email.com" class="rounded-lg p-2 text-center w-[300px]" required>
      <textarea placeholder="How can we help you :)" class="rounded-lg p-4 min-w-[500px] min-h-[200px]"></textarea>
      <button type="submit" class="bg-main px-6 py-2 rounded-lg text-white">Send</button>
    </div>
  </form>
</div>
