<div
  class="flex flex-col justify-center items-center pt-32 min-h-screen"
  style="
    background: rgb(53, 0, 75);
    background: linear-gradient(
      270deg,
      rgba(53, 0, 75, 1) 0%,
      rgba(133, 0, 222, 1) 100%
    );
  "
>
  <div class="text-center flex flex-col items-center">
    <div class="text-4xl sm:text-7xl">
      Turn your <span class="font-light">idea</span> into
      <span class="font-light">reality</span>!
    </div>
    <div class="mt-5 mb-20 text-xs sm:text-base">
      Contact us and let's get started.
    </div>
  </div>

  <div
    class="bg-purple-600 w-full flex flex-col justify-center items-center pt-20 pb-20 mb-10"
  >
    <div class="text-xl">juricantonio18&commat;gmail.com</div>
    <div class="text-lg">+385995731587</div>
  </div>

  <div class="text-center lg:self-end lg:text-right mr-5 mt-10 mb-16 ml-5">
    <div>We're here to help you take your business to the next level.</div>
    <div class="mb-4">
      Whether you have questions, need support, or want to discuss your project,
      our team at <span class="font-light">coderise</span> is ready to assist
      you.
    </div>
  </div>
</div>
