<div
  class="flex flex-col justify-center items-center pt-32"
  style="
    background: rgb(53, 0, 75);
    background: linear-gradient(
      270deg,
      rgba(53, 0, 75, 1) 0%,
      rgba(133, 0, 222, 1) 100%
    );
  "
>
  <div class="text-center flex flex-col items-center m-4">
    <div class="text-4xl sm:text-7xl">
      Turn your <span class="font-light">idea</span> into
      <span class="font-light">reality</span>!
    </div>
    <div class="mt-5 mb-20 text-xs sm:text-base">
      Contact us and let's get started.
    </div>
  </div>

  <div
    class="bg-softBlack bg-opacity-10 w-full flex flex-col justify-center items-center pt-20 pb-20 relative"
  >
    <div class="relative text-xl sm:text-3xl mb-5 font-light sm:font-normal">
      coderise&commat;coderise.eu<span
        class="absolute text-nowrap text-[12px] sm:text-sm  -translate-y-[130%]"
        >For all business inquiries</span
      >
    </div>
    <div class="mb-20 flex max-sm:flex-col gap-3 sm:gap-10">
      <div
        class="relative text-sm sm:text-xl font-extralight sm:font-light text-center"
      >
        <span class="text-[12px] sm:text-sm">Antonio Jurić, CEO & Founder</span><br>antonio.juric&commat;coderise.eu
      </div>
      <div
        class="relative text-sm sm:text-xl font-extralight sm:font-light text-center"
      >
        <span class="text-[12px] sm:text-sm">Marko Zovko, CMO</span><br>marko.zovko&commat;coderise.eu
      </div>
    </div>

    <div class="text-center lg:self-end lg:text-right mr-5 mt-10 mb-16 ml-5">
      <div>We're here to help you take your business to the next level.</div>
      <div class="mb-4">
        Whether you have questions, need support, or want to discuss your
        project, our team at <span class="font-light">coderise</span> is ready
        to assist you.
      </div>
    </div>
  </div>
</div>
