<div
  class="bg-opacity-70 bg-black fixed top-0 left-0 w-screen h-screen flex justify-center items-center z-[999]"
  (click)="onClose()"
>
  <div
    class="bg-slate-100 shadow-lg rounded-lg flex flex-col justify-center items-center p-6 px-10 z-[999] animate__animated animate__zoomIn animate__faster"
    (click)="$event.stopPropagation()"
  >
    JEZICI
    <button
      type="button"
      class="py-2 px-5 bg-main text-white rounded-lg shadow-lg mt-4"
      (click)="onClose()"
    >
      OK
    </button>
  </div>
</div>
