<div class="flex justify-center items-center mt-44 flex-col">
  <div class="text-6xl sm:text-9xl font-thin">
    code<span class="font-light">rise</span>
  </div>
  <div class="mt-5 text-xs sm:text-base">
    Rise with <span class="font-light">code</span>, Succeed with <span class="font-light">coderise</span>.
  </div>

  <div class="grid xl:grid-cols-2 w-[90%] my-32 justify-center items-center">
    @for (item of content; track $index) { @if (item.image) {
    <div
      class="sm:m-10 bg-opacity-0 rounded-3xl max-w-[500px] shadow-2xl overflow-hidden self-center {{
        $index % 2 == 0 ? 'place-self-end mr-12 mt-1 mb-6' : 'place-self-start ml-12 mt-2'
      }}"
    >
      <img [src]="item.image" alt="item.title" class="bg-cover rounded-3xl" />
    </div>
    } @else {
    <div
      class="mb-4 p-6 sm:m-4 sm:p-20 bg-opacity-0 rounded-3xl max-w-[500px] shadow-2xl aspect-square {{
        $index % 2 == 0 ? 'place-self-end' : 'place-self-start'
      }}"
    >
      <div class="flex flex-col h-full items-center justify-center">
        <span class="text-center text-xl sm:text-3xl mb-4 font-semibold">
          {{ item.title }}
        </span>
        {{ item.content }}
      </div>
    </div>
    } }
  </div>
</div>
