@tailwind base;
@tailwind components;
@tailwind utilities;

// Font

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #0e1111;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbar from appearing on body */
  overscroll-behavior: none;
}
body {
  margin: 0;
  font-family: Roboto, "Nunito", sans-serif;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

// Router link

.active-link{
  font-weight: 400;
}

// Hiding scrollbars

.scroll-container {
  height: 100%;
  overflow-y: auto; /* Allows scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Hide scrollbar for Webkit browsers */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scroll-container {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* Specific to Webkit browsers (e.g., Chrome, Safari) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
